.coin-container {
  margin: auto;
  text-align: center;
  padding: 1rem;
}
.coin-name img {
  width: 100px;
}
.coin-desc {
  text-align: left;
  font-size: large;
  max-width: 50rem;
  margin-top: 2rem;
  background-color: #131313;
  border-radius: 4px;
  padding: 1.2rem;
}
.coin-info ul {
  list-style: none;
  margin: 1rem;
  font-size: large;
  line-height: 1.5rem;
}
